<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Star Wars Quote App</title>
        <link rel="stylesheet" href="/styles.css" />
        <link href="//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi" rel="stylesheet" type="text/css"/>
    </head>
    <body>

    <h1 data-position="header">May Node and Express be with you.</h1>

    <section data-position="add-quote">
        <h2 id="addQuote">Add quote</h2>
        <form action="/quotes" method="POST">
          <input type="text" placeholder="Name" name="name" />
          <input type="text" placeholder="Quote" name="quote" />
          <button id="submit" type="submit">Submit</button>
        </form>
    </section>

    <section data-position="update-quote">
        <div>
            <h2 id="invade">Darth Vadar Invades!</h2>
            <p>Replace Yoda's first quote with a Darth Vadar quote.</p>
            <p class="small-text">Adds a Darth Vader quote if there are no Yoda quotes.</p>
            <button id="update-button">Replace Yoda quote</button>
        </div>
    </section>

    <section data-position="delete-quote">
        <div>
            <h2 id="vanquish">Vanquish Darth Vadar!</h2>
            <p id="deleteOne">Delete one Darth Vadar quote.</p>
            <p class="small-text">Does nothing if there are no more Darth Vadar quotes.</p>
            <button id="delete-button">Delete Darth Vadar quote</button>
        </div>
        <div id="message"></div>
    </section>

    <section data-position="quotes">
        <h2>Quotes</h2>
        <ul class="quotes">
            <% for(var i = 0; i < quotes.length; i++) {%>
            <li class="quote">
                <span><%= quotes[i].name %></span>:
                <span><%= quotes[i].quote %></span>
            </li>
            <% } %>
        </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>